<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                background: lightgrey; 
                font-family: verdana;
                color: #fff;
                padding: 30px;                
            }
            h1{
                font-size: 48px;
                text-transform: uppercase;
                letter-spacing: 2px;
                text-align: center;
            }
            p {
                font-size: 16px;
                text-align: center;
            }
            ul {
                list-style-type: none;
                padding: 0;
            }
            form {
                display: flex;
                flex-direction: column;
                max-width: 50%;                
            }
            label {
                margin: 10px 0;
            }
            input {
                margin-bottom: 10px;
            }
        </style>
    </head>
    <body>
        <%- include ('partials/nav') %>        
        <h1>Contact us</h1>
        <p>Thanks for getting in touch!</p>
        <p> You contacted <%= data.who %> in the <%= data.department %></p>
        <p> We will reply to you at <%= data.email %></p>
    </body>
</html>