<!DOCTYPE html>
<html>
    <head>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <%- include ('partials/nav') %>
        
        <h1>Welcome to Henrique Workshop</h1>
        <p>Bright future ahead</p>
    </body>
</html>